@use "../utils/variables";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: variables.$primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h2,
h3 {
  font-weight: 500;
}

@media screen and (min-width: 1300px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}